@charset "utf-8";

/* ===============================================
Date : 2016-09-01
Description : 스타일 초기화 및 공통 클래스 선언
=============================================== */


html,body {height:100%;}

/* reset */
body {margin:0;padding:0;font-size:12px;color:#363b3f;font-family:'Noto Sans','맑은 고딕','돋움',Dotum,'굴림',Gulim,tahoma,verdana,Apple Gothic,sans-serif;line-height:1;}
section,nav,article,aside,hgroup,header,footer {display:block;margin:0;padding:0;}
p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {margin:0;padding:0;font-size:inherit;font-weight:normal;font-family:inherit;}
caption, hr, legend {visibility:hidden;width:0;height:0;line-height:0;font-size:0;}
img,fieldset {border:none;}
ul,ol,li {list-style:none;}
table {width:100%;border-width:0;border-spacing:0;}
/*caption {height:0;overflow:hidden;font-size:0;line-height:0;text-indent:-20000px}*/
address,caption,cite,code,dfn,em,i,var {font-style:normal;font-weight:normal;}
a {color:#363b3f;text-decoration:none;text-overflow:ellipsis;cursor:pointer;}
a:link,a:visited,a:hover,a:active {color:#363b3f;text-decoration:none;}
input, button, select, textarea, label {box-sizing:border-box;display:inline-block;vertical-align:middle;border:none;background:none;padding:0;color:#363b3f;}
textarea {resize:none;}
a, cite, code, dfn, del, em, ins, label, q, span, strong {display:inline-block;}
img {max-width:100%;}

input.input-custom::-ms-clear {display:none;}
input[type="text"],
input[type="password"] {box-sizing:border-box;border:1px solid #d2d2d2;border-radius:4px;padding:0 5px;height:18px;line-height:18px;background:#fff;width:100%;font-size:9px;font-family:'맑은 고딕';}
input[type="radio"],
input[type="checkbox"] {width:13px;height:13px;margin-top:3px;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
input[type="button"],
input[type="submit"],
input[type="image"],
button {cursor:pointer;}
textarea {box-sizing:border-box;border:1px solid #d2d2d2;border-radius:4px;background:#fff;padding:5px;width:100%;font-size:9px;font-family:'맑은 고딕';}
select {-webkit-appearance: none;-moz-appearance: none;appearance: none; padding:0 15px 0 10px;}
.select-box {border:1px solid #d2d2d2;border-radius:4px;background:#fff;padding-right:5px;}
.select-inner {height:18px;line-height:16px;font-size:9px;font-family:'맑은 고딕';background: url(../images/btn_selectbox_arr.png) no-repeat 95% 50%;}

label {font-size:10px;font-weight: normal;margin:0;color:#323232;}
label .label {vertical-align:middle;padding-left:10px;}

input[type="text"][disabled],
input[type="password"][disabled],
textarea[disabled] {background:#eaeaea !important;color:#999;}
input[type="radio"][disabled] + label,
input[type="radio"][disabled] + .label,
input[type="checkbox"][disabled] + label,
input[type="checkbox"][disabled] + .label,
select[disabled] {opacity:0.4;filter: alpha(opacity=40);}
textarea[readonly='readonly'],
input[readonly='readonly'] {background:#eaeaea !important;}


/* common class define */
.hidden {position:absolute;top:-10000px;left:0;overflow:hidden;width:0;height:0;margin:0;padding:0;}
.ellipsis {overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;text-overflow:ellipsis;word-wrap:normal;/* *white-space:normal; */}
.wbreak {word-break:break-all;word-wrap:break-word;white-space:normal;}