@charset "utf-8";

/* ===============================================
Date : 2016-09-01
Description : 테마
=============================================== */

/* layout */
body.theme-b {background-color:#e6e8e3;}
.theme-b .main-bg,
.theme-b .logo-area .logo-wrap2,
.theme-b .gnb-area .top-menu {display:none;}
.theme-b .main-header {border-bottom:1px solid #cfcfcf;}
.theme-b .main-header-inner {height:58px;}
.theme-b .logo-area .logo-wrap,
.theme-b .gnb-area .gnb {background:none;height:58px;}
.theme-b .logo-area {width:165px;}
.theme-b .logo-area .logo-wrap {line-height:55px;}
.theme-b .gnb-area .gnb .dep1 > li {padding:22px 18px 0 18px;background-image:none;}
.theme-b .gnb-area .gnb .dep1 > li > a {color:#626262;}
.theme-b .gnb-area .gnb .dep1 > li:hover > a {color:#48b5e0;}
.theme-b .gnb-area .gnb .dep2 {left:165px;top:39px;}
.theme-b .gnb-area .gnb .dep2 > li {height:18px;background-position:left 5px;}
.theme-b .gnb-area .gnb .dep2 > li > a {color:#626262;}
.theme-b .gnb-area .gnb .dep2 > li:hover > a {color:#48b5e0;}


/* widget */
.theme-b .lucis-widget {background:#eff1ec;border-left:4px solid #48b5e0;padding:8px 20px 18px 24px;box-shadow: 2px 2px 5px rgba(0,0,0,0.2);}
.theme-b .lucis-widget .lucis-widget-title {color:#727272;border-bottom:1px solid #cfcfcf;}
.theme-b .lucis-core .lucis-core-title {color:#0c99c9;}
.theme-b .btn-play {width:21px;height:20px;border:none;text-indent:-9999px;background:url(/images/btn_play.png) center center no-repeat;}

.theme-b table.lucis-table thead th,
.theme-b table.lucis-table.stripe tbody tr.odd, 
.theme-b table.lucis-table.stripe tbody tr.even {background-color: transparent;}
.theme-b table.lucis-table thead th {height: 25px;color: #48b5e0;border-color: #cfcfcf;background: none;}
.theme-b table.lucis-table tbody th,
.theme-b table.lucis-table tbody td {padding: 0 5px;color: #727272;border-top: 1px solid #e3e3e3;}
.theme-b table.lucis-table tbody tr:first-child th,
.theme-b table.lucis-table tbody tr:first-child td {border-top: none;}
.theme-b table.lucis-table.no-footer {border-color: #cfcfcf;}
