@charset "utf-8";

/* ===============================================
Date : 2016-09-01
Description : 위젯 스타일
=============================================== */


/* widget style */
/*
.lucis-flip-container {perspective: 1000px;}
.lucis-flip-container .lucis-flipper {transition: 0.6s;transform-style: preserve-3d;position: relative;}
.lucis-flip-container:hover .lucis-flipper,
.lucis-flip-container.hover .lucis-flipper {transform: rotateY(180deg);}
.lucis-flip-container,
.lucis-flip-container .front,
.lucis-flip-container .back {width: 100%;}
.lucis-flip-container .front {backface-visibility:visible;top: 0;left: 0;}
.lucis-flip-container .back {backface-visibility:visible;position: absolute;top: 0;left: 0;}
.lucis-flip-container .front {z-index: 2;transform: rotateY(0deg);background-color:#fff;}
.lucis-flip-container .back {transform: rotateY(180deg);background-color:aqua;transition: z-index 1s;}
.lucis-flip-container:hover .back,
.lucis-flip-container.hover .back {z-index:3;}
*/

.lucis-flip-container {position: relative;}
.lucis-flip-container .front,
.lucis-flip-container .back {width: 100%;background-color:#fff;}
.lucis-flip-container .back {height:100%;position:absolute;left:0;top:0;background-color:rgba(71,181,214,0.8);display:none;}
/*.lucis-flip-container:hover .back,*/
.lucis-flip-container.hover .back {display:block;} 

.lucis-widget {height:100%;}
.lucis-widget .lucis-widget-header {position: relative;}
.lucis-widget .lucis-widget-title {padding-top:10px;height:40px;font-size:16px;font-weight: bold;color:#0c99c9;border-bottom:2px solid #0c99c9;}
.lucis-widget .lucis-widget-body {padding-top:20px;word-break:break-all;word-wrap:break-word;white-space:normal;}


/* widget core style */
.lucis-core .lucis-core-title {height:20px;font-weight: bold;color:#000;background:url(/images/bul_arrow.png) left 3px no-repeat;padding:0 0 0 13px;}
.lucis-core .lucis-core-body {word-break:break-all;word-wrap:break-word;white-space:normal;}


/* datatables customizing */
table.lucis-table thead th {padding: 0;height: 20px;text-align: center;color: #000;border-top: 1px solid #0c99c9;border-bottom: 1px solid #0c99c9;background: url(/images/bg_th.gif) left bottom no-repeat;}
table.lucis-table thead th:first-child {background-image: none;}
table.lucis-table tbody th,
table.lucis-table tbody td {padding: 0 5px;height: 20px;text-align: center;font-size:11px;}
table.lucis-table.stripe tbody tr.odd {background-color: #eff0f0;}
table.lucis-table.no-footer {border-color: #0c99c9;}


/* 날씨이미지 */
.img-weather {position:absolute;right:0;bottom:0;}


/* button */
.btn-play {width:40px;height:18px;font-size:11px;font-weight:bold;color:#0c99c9;border:1px solid #dfdfdf;text-align:center;line-height:14px;}
.lucis-widget .lucis-widget-header .btn-play {position:absolute;right:0;bottom:12px;}


/* 주요상담현황 */
.widget-chart-01 {padding:10px 0;}


/* 유형별 세부 현황 */
.widget-graph-01 {width:100%;border:1px solid #0c99c9;border-width:1px 0;}
.widget-graph-01 th {width:100px;height:55px;color:#000;padding-left:15px;text-align:left;border-right:1px solid #0c99c9;}
.widget-graph-01 td .progress {margin:0;height:15px;border-radius:0;box-shadow: none;font-size:11px;}
.widget-graph-01 td .progress-bar {line-height:13px;font-size:11px;}
.widget-graph-01 td .progress-color1 {background:#a8cee5;}
.widget-graph-01 td .progress-color2 {background:#0c99c9;}
.widget-graph-01 td .progress-color3 {background:#1c7a93;}
.widget-graph-01 td .progress-color4 {background:#285366;}
.widget-graph-01 td .progress-color5 {background:#1b4b5b;}
.widget-graph-01 td .progress-color6 {background:#dadada;}
.widget-graph-01 td .progress-color7 {background:#b3b3b4;}
.widget-graph-01 td .progress-color8 {background:#8c8c8c;}


/* 트렌드 */
.widget-graph-02 {width:100%;border:1px solid #0c99c9;border-width:1px 0;height:169px;}
.widget-graph-02 th {width:120px;color:#000;padding-left:15px;text-align:left;border-right:1px solid #0c99c9;}
.widget-graph-02 td.percent {width:45px;color:#424242;text-align:center;border-right:1px solid #0c99c9;font-size:11px;}
.widget-graph-02 td.graph {}
.widget-graph-02 td.graph .bg {line-height:13px;}