@charset "utf-8";

/* ===============================================
Date : 2016-09-01
Description : 레이아웃/컴포넌트/그리드/위젯
=============================================== */


/* layout */
.wrapper {height:100%;}
.main-bg span {display:inline-block;position:absolute;width:50%;z-index:0;}
.main-bg .lt {height:33px;background:#a8cee5;left:0;top:0;}
.main-bg .lb {height:65px;background:#0c99c9;left:0;top:33px;}
.main-bg .rt {height:33px;background:#dadada;right:0;top:0;}
.main-bg .rb {height:65px;background:#b3b3b4;right:0;top:33px;}
.main-header {position:relative;z-index:10;}
.main-header-inner {width:940px;height:98px;margin:0 auto;}
.content-wrapper {width:960px;margin:0 auto;padding:40px 0;}
.content-inner {min-height: 250px;margin-right: auto;margin-left: auto;padding-left: 10px;padding-right: 10px;}


/* grid system(bootstrap) customizing */
.row {margin-left: -10px;margin-right: -10px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 10px;padding-right: 10px;}
.row + .row {margin-top:50px;} /* 기본 row 간격 */
.row .row + .row {margin-top:35px;} /* 그리드 안에서 row 로 나눠질 때 간격 */


/* logo area */
.logo-area {width:220px;float:left;position:relative;z-index:1;}
.logo-area .logo-wrap {height:33px;line-height:31px;background:#a8cee5;}
.logo-area .logo-wrap2 {height:65px;line-height:65px;background:#0c99c9;}


/* navigation */
.gnb-area .top-menu {height:33px;background:#dadada;}
.gnb-area .top-menu a {font-weight:bold;background:url(/images/arrow1.png) right 6px no-repeat;padding:0 10px 0 0;float:right;margin:10px 0 0 0;}
.gnb-area .gnb {height:65px;background:#b3b3b4;position:relative;z-index:0;}
.gnb-area .gnb .dep1 > li {float:left;padding:18px 14px 0 15px;height:40px;background:url(/images/bg_bar.gif) left 21px no-repeat;}
.gnb-area .gnb .dep1 > li:first-child {background-image:none;}
.gnb-area .gnb .dep1 > li > a {font-weight:700;font-size:14px;}
.gnb-area .gnb .dep1 > li:hover > a {color:#fff;}
.gnb-area .gnb .dep2 {display:none;position:absolute;left:220px; top:40px;}
.gnb-area .gnb .dep2 > li {float:left;padding:0 11px 0 15px;height:25px;background:url(/images/bg_dot.png) left 4px no-repeat;}
.gnb-area .gnb .dep2 > li:first-child {background-image:none;}
.gnb-area .gnb .dep2 > li > a {font-weight: bold;}
.gnb-area .gnb .dep2 > li:hover > a {color:#fff;}
.gnb-area .gnb .dep1 > li + li .dep2 {left:260px;}
.gnb-area .gnb .dep1 > li + li + li .dep2 {left:340px;}
.gnb-area .gnb .dep1 > li + li + li + li .dep2 {left:420px;}
.gnb-area .gnb .dep1 > li + li + li + li + li .dep2 {left:480px;}



/* datepicker customizing */
.datepicker.dropdown-menu {border-color:#d2d2d2;border-radius:0;padding:0;min-width:120px;}
.datepicker.dropdown-menu td {padding: 0;}
.datepicker .table-condensed > thead > tr > th {font-size:10px;color:#4f4f4f;}
.datepicker .table-condensed > thead > tr > th.prev,
.datepicker .table-condensed > thead > tr > th.next,
.datepicker .table-condensed > thead > tr > th.datepicker-switch {background:#0c99c9;color:#fff;font-size:10px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;}
.datepicker .table-condensed > thead > tr > th.prev {background:#0c99c9 url(/images/btn_datepicker_prev.png) center center no-repeat;text-indent:-9999px;}
.datepicker .table-condensed > thead > tr > th.next {background:#0c99c9 url(/images/btn_datepicker_next.png) center center no-repeat;text-indent:-9999px;}
.datepicker .table-condensed td {font-size:9px;font-family:'맑은 고딕';color:#4f4f4f;}
.datepicker .table-condensed td,
.datepicker .table-condensed th {width: 15px;height: 15px;border-radius: 0;}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {background: #fff;outline: 1px solid #0c99c9;}
.tbl-txt-top {font-size:9px;color:#0c99c9;font-weight:bold;height:15px;}


/* timerpicker customizing */
.ui-timepicker-list li {color: #a09f9f;font-size:9px;font-family:'맑은 고딕';}
li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {background: #b2e9fc; color: #606060;}


/* spinner customizing */
input.ui-spinner-input {border:none;background:none;margin:0;margin-right: 22px;font-size:9px;font-family:'맑은 고딕';height:16px;line-height:16px;}
.ui-spinner {border-color:#d2d2d2;padding-left:5px;}
.ui-spinner .ui-icon {background: url(/images/btn_spinner_up.png) center center no-repeat;}
.ui-spinner .ui-spinner-down .ui-icon {background: url(/images/btn_spinner_down.png) center center no-repeat;}


/* modal customizing */
.modal-content {border-radius:0;border:5px solid #b8b8b8;}
.modal-header {background:#49b3df;height:37px;padding:0 18px;}
.modal-title {font-size:15px;font-weight:bold;color:#fff;padding-top:6px;}
.modal-header .close {font-size:30px;font-weight:bold;color:#fff;opacity:1;margin-top:0;}
.modal-footer {height:40px;background:#f7f7f7;padding:8px 18px 0 18px;border-top:none;}


/* button customizing */
.btn {font-size:12px;color:#6a6c6a;font-weight:bold;padding:0;width:80px;height:26px;line-height:24px;}
.btn-primary {color:#fff;}
.btn-default {border-color:#c9c9c9;box-shadow: 1px 1px 1px rgba(0,0,0,0.2), -1px -1px 1px rgba(0,0,0,0.2);background:url(/images/bg_button_gradient.png) left bottom repeat-x;}
.btn-design {width:79px;height:29px;background:url(/images/btn_design.gif) 0 0 no-repeat;text-indent:-9999px;}
.btn-design.closing {background-position:0 0;}
.btn-design.confirm {background-position:0 -29px;}


/* scrollbar customizing */
.mCustomScrollbar {overflow:auto;}
.mCSB_inside > .mCSB_container {margin-right:15px;}
.mCSB_scrollTools {width:10px;opacity:1;}
.mCSB_scrollTools .mCSB_draggerRail {background-color: #bfbfbf;width:10px;border-radius:0;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #0d99ca;width:10px;border-radius:0;}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color: #0d99ca;}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {background-color: #bfbfbf;opacity:1;background-image: url(/images/bg_scrollbar_arrow.png);}
.mCSB_scrollTools .mCSB_buttonUp:hover, .mCSB_scrollTools .mCSB_buttonDown:hover, .mCSB_scrollTools .mCSB_buttonLeft:hover, .mCSB_scrollTools .mCSB_buttonRight:hover {opacity:1;}
.mCSB_scrollTools .mCSB_buttonUp {background-position: left top;}
.mCSB_scrollTools .mCSB_buttonDown {background-position: left bottom;}

.slimScrollbar .mCSB_scrollTools {width:5px;}
.slimScrollbar .mCSB_scrollTools .mCSB_draggerRail {background-color: #f7f7f7;width:5px;}
.slimScrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:5px;}


/* select box customizing */
.jqTransformSelectWrapper {border:1px solid #d2d2d2;border-radius:4px;padding-left:5px;height:18px;background: none;background-color:#fff;}
.jqTransformSelectWrapper div span {font-size:9px;font-family:'맑은 고딕';line-height:16px;height:18px;padding: 0;}
.jqTransformSelectWrapper a.jqTransformSelectOpen {width: 20px;height: 18px;background: url(/images/bg_selectbox_arr.png) no-repeat center center;}
.jqTransformSelectWrapper ul {top:18px;}
.jqTransformSelectWrapper ul a {padding: 3px 5px;font-size: 9px;font-family:'맑은 고딕';}


/* radio, checkbox customizing */
.jqTransformRadioWrapper {float:none;display:inline-block;vertical-align: middle;margin:0 9px 0 0;}
.jqTransformRadio {background: transparent url(/images/radio.png) no-repeat center top;height: 9px;width: 9px;}



